* {
  margin: 0;
}

body {
  background-color: aliceblue;
}

.headercontainer {
  width: 100%;
  position: fixed;
  z-index: 9999;
  height: 80px;
  position: relative;
  text-align: center;
  background-color: aliceblue;
}

.headerheading {
  color: rgb(0, 170, 255);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  height: 50px;
}

.headermenu {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.btn {
  height: 30px;
  width: 80px;
  font-size: larger;
  border-radius: 8px;
  border: none;
  background-color: rgb(128, 185, 214);
  color: rgb(253, 253, 253);
  text-align: center;
}

/* mobile responsive*/

@media only screen and (max-width: 768px),
only screen and (max-device-width: 768px) {
  .headercontainer {
    width: 100%;
    position: fixed;
    z-index: 9999;
    height: 80px;
    position: relative;
    text-align: center;
    background-color: #f0f8ff;
  }

  .headermenu {
    display: flex;
    justify-content: center;
  }
}